@font-face {
  font-family: "MesloLGS NF";
  src: url("/assets/fonts/MesloLGS NF Regular.ttf");
}

@font-face {
  font-family: "GT Pressura Mono";
  src: url("/assets/fonts/GT-Pressura-Mono-Regular.woff") format("woff");
}

@font-face {
  font-family: circular;
  src: url("/assets/fonts/Circular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
$mainBkg: #fff;
$primaryClr: #5934f6;
$secondaryClr: #e4fbf3;

::selection {
  background: $secondaryClr;
}

body {
  background: $mainBkg;
  font-family: circular, sans-serif;
  color: $primaryClr;
  padding-bottom: 10rem;
  overflow-x: hidden;

  header {
    margin-bottom: calc(3rem + 200px);

    .line {
      height: 1px;
      width: 100vw;
      background: #ebe9f4;
      display: block;
      position: absolute;
      top: 96px;
      left: 0;
      transform: translateY(-50%);
      z-index: -1;
    }

    .icon {
      height: 50px;
      width: 50px;
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      background: white;

      &::before {
        content: "";
        height: calc(100% + 30px);
        width: calc(100% + 30px);
        background: white;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      span {
        position: absolute;
        height: 7px;
        width: 7px;
        border: 1px solid $primaryClr;
      }

      .left {
        left: 0;
      }

      .middle {
        left: 50%;
      }

      .right {
        left: 100%;
      }

      .center.left {
        top: 50%;
        transform: translateY(-50%);
      }

      .center.right {
        top: 50%;
        transform: translate(-100%, -50%);
      }

      .top.left {
        top: 0;
      }

      .top.middle {
        top: 0;
        transform: translateX(-50%);
      }

      .top.right {
        top: 0;
        transform: translateX(-100%);
      }

      .bottom {
        top: 100%;
        transform: translateY(-100%);
      }

      .bottom.middle {
        top: 100%;
        transform: translate(-50%, -100%);
      }

      .bottom.right {
        top: 100%;
        transform: translate(-100%, -100%);
      }

      .target {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 7px;
        width: 7px;
        border: 1px solid $primaryClr;
        border-radius: 50%;

        &::before,
        &::after {
          content: "";
          height: 1px;
          width: 11px;
          background: $primaryClr;
          display: block;
          position: absolute;
        }

        &::before {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &::after {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }

      .dot {
        background: white;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;

        &::before {
          content: "";
          height: 1px;
          width: 1px;
          background: $primaryClr;
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  main {
    width: 80vw;
    margin: auto;

    .overview {
      margin: auto;
      margin-bottom: 5rem;
      width: 80vw;
      text-align: center;

      .intro {
        font-weight: 500;
        font-size: 1.9rem;
      }
    }

    .aboutMe {
      position: relative;
      margin-block: 10rem 5rem;

      p {
        width: 80%;
        margin: auto;
        text-align: center;
      }

      &::before {
        content: "ABOUT ME";
        height: 30px;
        width: max-content;
        display: block;
        font-family: "GT Pressura Mono", monospace;
        position: absolute;
        left: -4vw;
        top: 50%;
        transform: translateX(-50%) rotate(-90deg);
        color: #ddd5fd;
      }
      &::after {
        content: "ABOUT ME";
        height: 30px;
        width: max-content;
        display: block;
        font-family: "GT Pressura Mono", monospace;
        position: absolute;
        left: calc(100% + 4vw);
        top: 50%;
        transform: translateX(-50%) rotate(90deg);
        color: #ddd5fd;
      }
    }

    .featured-work {
      display: flex;
      justify-content: space-around;
      position: relative;
      flex-wrap: wrap;

      &::before {
        content: "FEATURED WORK";
        height: 30px;
        width: max-content;
        display: block;
        font-family: "GT Pressura Mono", monospace;
        position: absolute;
        left: -4vw;
        top: 50%;
        transform: translateX(-50%) rotate(-90deg);
        color: #ddd5fd;
      }

      &::after {
        content: "FEATURED WORK";
        height: 30px;
        width: max-content;
        display: block;
        font-family: "GT Pressura Mono", monospace;
        position: absolute;
        left: calc(100% + 4vw);
        top: 50%;
        transform: translateX(-50%) rotate(90deg);
        color: #ddd5fd;
      }
    }

    .box {
      text-decoration: none;
      min-height: 250px;
      border: 1px solid #c4bbff;
      padding: 2.5rem;
      position: relative;
      background: linear-gradient(
        35deg,
        #f9f4ff 0%,
        rgba(255, 255, 255, 0) 65%
      );

      margin-top: 3rem;

      width: 48.5%;
      min-width: 300px;

      &::before {
        content: "";
        inset: 0 0 0 0;
        background: #f9f4ff;
        display: block;
        position: absolute;
        opacity: 0;
        transition: 0.5s;
        z-index: -1;
      }

      .project-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .project-description {
        font-family: "GT Pressura Mono", monospace;
        color: #b8adff;
        transition: 0.8s;
      }

      .project-footer {
        position: absolute;
        left: 2.5rem;
        bottom: 2.5rem;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 5rem);
        font-family: "GT Pressura Mono", monospace;

        .date {
          color: #b8adff;
          transition: 0.5s;
        }

        .link {
          position: relative;

          &::after {
            content: "";
            height: 50%;
            width: 105%;
            display: block;
            position: absolute;
            bottom: -10%;
            right: -2%;
            background: #e5d9ff;
            z-index: -1;
            transition: 0.5s;
          }
        }
      }

      &:hover {
        &::before {
          opacity: 1;
        }

        .project-description {
          opacity: 0.8;
        }

        .project-footer .date {
          opacity: 0.4;
        }

        .link::after {
          height: 80%;
          width: 140%;
        }
      }

      &.box-2 {
        &:hover {
          .project-description {
            opacity: 1 !important;
          }

          .project-footer .date {
            opacity: 1 !important;
          }
        }
      }
    }

    @media only screen and (max-width: 1300px) {
      .box {
        width: 100% !important;
        max-width: 100%;
        margin-top: 3rem;
      }
    }

    .box.not-released {
      cursor: not-allowed;
      border: none;
      background: #f8f8f8 !important;

      .project-title {
        color: #0e1958 !important;
      }

      .project-description,
      .project-footer {
        color: gray !important;
      }
    }

    .separator {
      margin-block: 7rem 6rem;
      margin-inline: auto;
      height: 7px;
      width: 7px;
      border: 1px solid $primaryClr;
      border-radius: 50%;
      z-index: -1;
      position: relative;

      &::before,
      &::after {
        content: "";
        height: 1px;
        width: 11px;
        background: $primaryClr;
        display: block;
        position: absolute;
        z-index: -1;
      }

      &::before {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
      }

      .dot {
        background: white;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;

        &::before {
          content: "";
          height: 1px;
          width: 1px;
          background: $primaryClr;
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      @media screen and (min-width: 1300px) {
        & {
          margin-block: 6rem 3rem;
        }
      }
    }
  }

  .section-title {
    display: none;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-family: "GT Pressura Mono", monospace;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;

    .last-letter {
      letter-spacing: 0;
    }
  }

  .selected-work {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 80vw;
    flex-wrap: wrap;

    &::before {
      content: "SELECTED WORK";
      height: 30px;
      width: max-content;
      display: block;
      font-family: "GT Pressura Mono", monospace;
      position: absolute;
      left: -4vw;
      top: 50%;
      transform: translateX(-50%) rotate(-90deg);
      color: #ddd5fd;
    }

    &::after {
      content: "SELECTED WORK";
      height: 30px;
      width: max-content;
      display: block;
      font-family: "GT Pressura Mono", monospace;
      position: absolute;
      left: calc(100% + 4vw);
      top: 50%;
      transform: translateX(-50%) rotate(90deg);
      color: #ddd5fd;
    }

    &.bottom-row {
      justify-content: space-around;
    }

    .work-section {
      width: 30% !important;
      min-width: 370px !important;
      text-decoration: none;
      margin-right: 5px;
      min-height: 250px;
      border: 1px solid #ebebec;
      padding: 2.5rem;
      position: relative;
      margin-top: 3rem;

      &::before {
        content: "";
        inset: 0 0 0 0;
        background: linear-gradient(
          140deg,
          #f9f4ff 5%,
          rgba(255, 255, 255, 0) 65%
        );
        display: block;
        position: absolute;
        opacity: 0;
        transition: 0.5s;
        z-index: -1;
      }

      .project-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #1a2fa9;
      }

      .project-description {
        font-family: "GT Pressura Mono", monospace;
        color: #5f5f5f;
        transition: 0.8s;
      }

      .project-footer {
        position: absolute;
        left: 2.5rem;
        bottom: 2.5rem;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 5rem);
        font-family: "GT Pressura Mono", monospace;
        color: #1a2fa9;

        .date {
          transition: 0.5s;
        }

        .link {
          position: relative;

          &::after {
            content: "";
            height: 50%;
            width: 105%;
            display: block;
            position: absolute;
            bottom: -10%;
            right: -2%;
            background: #e5d9ff;
            transition: 0.5s;
            z-index: -1;
          }
        }
      }

      &:hover {
        &::before {
          opacity: 1;
        }

        .link::after {
          height: 80%;
          width: 140%;
        }
      }

      &.not-released {
        background: #f8f8f8;
        border: none;
        cursor: not-allowed;

        &::before {
          display: none;
        }

        .project-description {
          color: gray;
        }

        .not-released-message {
          color: gray;
        }
      }

      .corner {
        position: absolute;
        height: 5px;
        width: 5px;
        border: 1px solid #b8adff;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background: #b8adff;
        }

        &::before {
          height: 15px;
          width: 1px;
        }

        &::after {
          width: 15px;
          height: 1px;
        }

        &.topLeftCorner {
          top: -3px;
          left: -3px;

          &::before {
            top: 4px;
            left: 1px;
          }

          &::after {
            top: 1px;
            left: 4px;
          }
        }

        &.bottomRightCorner {
          bottom: -3px;
          right: -3px;

          &::before {
            top: -15px;
            left: 1px;
          }

          &::after {
            top: 1px;
            left: -15px;
          }
        }
      }
    }

    @media screen and (max-width: 1010px) {
      .work-section {
        width: 100% !important;
        max-width: 100%;
        margin-top: 3rem;
      }
    }

    @media screen and (max-width: 1300px) {
      & {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        .work-section {
          min-width: 80vw !important;
        }
      }
    }
  }

  .gap {
    width: 100%;
    height: 1rem;
  }

  @media screen and (max-width: 1300px) {
    .gap {
      display: none;
    }
  }

  .gap-top {
    margin-top: 3rem;
  }

  .technologies-used {
    position: relative;
    width: 80vw;
    text-align: center;

    &::before {
      content: "TECH USED";
      height: 30px;
      width: max-content;
      display: block;
      font-family: "GT Pressura Mono", monospace;
      position: absolute;
      left: -4vw;
      top: 50%;
      transform: translateX(-50%) rotate(-90deg);
      color: #ddd5fd;
    }

    &::after {
      content: "TECH USED";
      height: 30px;
      width: max-content;
      display: block;
      font-family: "GT Pressura Mono", monospace;
      position: absolute;
      left: calc(100% + 4vw);
      top: 50%;
      transform: translateX(-50%) rotate(90deg);
      color: #ddd5fd;
    }

    .tech-group {
      width: 50vw;
      min-height: 60px;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      margin-inline: auto;
      margin-top: 20px;

      svg {
        height: 50px;
        margin: 10px;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    .section-title {
      display: block;
    }

    .featured-work,
    .selected-work,
    .aboutMe,
    .technologies-used {
      &::before,
      &::after {
        display: none !important;
      }
    }
  }

  .non-disappearing {
    display: block !important;
  }
}

footer {
  margin-top: 5rem;
  position: relative;

  .logo {
    position: absolute;
    width: 17px;
    height: 17px;
    padding: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background: white;

    .bracket {
      position: absolute;
      height: 5px;
      width: 5px;
      border: 1px solid #b8adff;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background: #b8adff;
      }

      &::before {
        height: 20px;
        width: 1px;
      }

      &::after {
        width: 20px;
        height: 1px;
      }

      &.leftBracket {
        top: 22px;
        left: 22px;

        &::before {
          top: 4px;
          left: 1px;
        }

        &::after {
          top: 1px;
          left: 4px;
        }
      }

      &.rightBracket {
        bottom: 22px;
        right: 22px;

        &::before {
          top: -20px;
          left: 1px;
        }

        &::after {
          top: 1px;
          left: -20px;
        }
      }
    }
  }

  .contactInfo {
    position: absolute;
    top: 2rem;
    padding: 3rem;
    border-top: 1px solid #ebe9f4;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

    font-family: "GT Pressura Mono";
    font-size: 18px;

    .phoneNum {
      text-decoration: none;
      color: #000;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
    }

    .underlined-link {
      color: $primaryClr;
      text-decoration: none;
      position: relative;
      width: max-content;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;

      &::after {
        content: "";
        width: 105%;
        height: 50%;
        background: $secondaryClr;
        display: block;
        position: absolute;
        bottom: -10%;
        right: -2%;
        z-index: -1;
        transition: 0.5s;
      }

      &:hover {
        &::after {
          height: 80%;
          width: 120%;
        }
      }
    }
  }
}
