@font-face {
  font-family: "MesloLGS NF";
  src: url("/assets/fonts/MesloLGS NF Regular.ttf");
}
@font-face {
  font-family: "GT Pressura Mono";
  src: url("/assets/fonts/GT-Pressura-Mono-Regular.woff") format("woff");
}
@font-face {
  font-family: circular;
  src: url("/assets/fonts/Circular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #e4fbf3;
}

body {
  background: #fff;
  font-family: circular, sans-serif;
  color: #5934f6;
  padding-bottom: 10rem;
  overflow-x: hidden;
}
body header {
  margin-bottom: calc(3rem + 200px);
}
body header .line {
  height: 1px;
  width: 100vw;
  background: #ebe9f4;
  display: block;
  position: absolute;
  top: 96px;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
body header .icon {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}
body header .icon::before {
  content: "";
  height: calc(100% + 30px);
  width: calc(100% + 30px);
  background: white;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body header .icon span {
  position: absolute;
  height: 7px;
  width: 7px;
  border: 1px solid #5934f6;
}
body header .icon .left {
  left: 0;
}
body header .icon .middle {
  left: 50%;
}
body header .icon .right {
  left: 100%;
}
body header .icon .center.left {
  top: 50%;
  transform: translateY(-50%);
}
body header .icon .center.right {
  top: 50%;
  transform: translate(-100%, -50%);
}
body header .icon .top.left {
  top: 0;
}
body header .icon .top.middle {
  top: 0;
  transform: translateX(-50%);
}
body header .icon .top.right {
  top: 0;
  transform: translateX(-100%);
}
body header .icon .bottom {
  top: 100%;
  transform: translateY(-100%);
}
body header .icon .bottom.middle {
  top: 100%;
  transform: translate(-50%, -100%);
}
body header .icon .bottom.right {
  top: 100%;
  transform: translate(-100%, -100%);
}
body header .icon .target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7px;
  width: 7px;
  border: 1px solid #5934f6;
  border-radius: 50%;
}
body header .icon .target::before, body header .icon .target::after {
  content: "";
  height: 1px;
  width: 11px;
  background: #5934f6;
  display: block;
  position: absolute;
}
body header .icon .target::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body header .icon .target::after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}
body header .icon .dot {
  background: white;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
body header .icon .dot::before {
  content: "";
  height: 1px;
  width: 1px;
  background: #5934f6;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body main {
  width: 80vw;
  margin: auto;
}
body main .overview {
  margin: auto;
  margin-bottom: 5rem;
  width: 80vw;
  text-align: center;
}
body main .overview .intro {
  font-weight: 500;
  font-size: 1.9rem;
}
body main .aboutMe {
  position: relative;
  margin-block: 10rem 5rem;
}
body main .aboutMe p {
  width: 80%;
  margin: auto;
  text-align: center;
}
body main .aboutMe::before {
  content: "ABOUT ME";
  height: 30px;
  width: max-content;
  display: block;
  font-family: "GT Pressura Mono", monospace;
  position: absolute;
  left: -4vw;
  top: 50%;
  transform: translateX(-50%) rotate(-90deg);
  color: #ddd5fd;
}
body main .aboutMe::after {
  content: "ABOUT ME";
  height: 30px;
  width: max-content;
  display: block;
  font-family: "GT Pressura Mono", monospace;
  position: absolute;
  left: calc(100% + 4vw);
  top: 50%;
  transform: translateX(-50%) rotate(90deg);
  color: #ddd5fd;
}
body main .featured-work {
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}
body main .featured-work::before {
  content: "FEATURED WORK";
  height: 30px;
  width: max-content;
  display: block;
  font-family: "GT Pressura Mono", monospace;
  position: absolute;
  left: -4vw;
  top: 50%;
  transform: translateX(-50%) rotate(-90deg);
  color: #ddd5fd;
}
body main .featured-work::after {
  content: "FEATURED WORK";
  height: 30px;
  width: max-content;
  display: block;
  font-family: "GT Pressura Mono", monospace;
  position: absolute;
  left: calc(100% + 4vw);
  top: 50%;
  transform: translateX(-50%) rotate(90deg);
  color: #ddd5fd;
}
body main .box {
  text-decoration: none;
  min-height: 250px;
  border: 1px solid #c4bbff;
  padding: 2.5rem;
  position: relative;
  background: linear-gradient(35deg, #f9f4ff 0%, rgba(255, 255, 255, 0) 65%);
  margin-top: 3rem;
  width: 48.5%;
  min-width: 300px;
}
body main .box::before {
  content: "";
  inset: 0 0 0 0;
  background: #f9f4ff;
  display: block;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
body main .box .project-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
body main .box .project-description {
  font-family: "GT Pressura Mono", monospace;
  color: #b8adff;
  transition: 0.8s;
}
body main .box .project-footer {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 5rem);
  font-family: "GT Pressura Mono", monospace;
}
body main .box .project-footer .date {
  color: #b8adff;
  transition: 0.5s;
}
body main .box .project-footer .link {
  position: relative;
}
body main .box .project-footer .link::after {
  content: "";
  height: 50%;
  width: 105%;
  display: block;
  position: absolute;
  bottom: -10%;
  right: -2%;
  background: #e5d9ff;
  z-index: -1;
  transition: 0.5s;
}
body main .box:hover::before {
  opacity: 1;
}
body main .box:hover .project-description {
  opacity: 0.8;
}
body main .box:hover .project-footer .date {
  opacity: 0.4;
}
body main .box:hover .link::after {
  height: 80%;
  width: 140%;
}
body main .box.box-2:hover .project-description {
  opacity: 1 !important;
}
body main .box.box-2:hover .project-footer .date {
  opacity: 1 !important;
}
@media only screen and (max-width: 1300px) {
  body main .box {
    width: 100% !important;
    max-width: 100%;
    margin-top: 3rem;
  }
}
body main .box.not-released {
  cursor: not-allowed;
  border: none;
  background: #f8f8f8 !important;
}
body main .box.not-released .project-title {
  color: #0e1958 !important;
}
body main .box.not-released .project-description,
body main .box.not-released .project-footer {
  color: gray !important;
}
body main .separator {
  margin-block: 7rem 6rem;
  margin-inline: auto;
  height: 7px;
  width: 7px;
  border: 1px solid #5934f6;
  border-radius: 50%;
  z-index: -1;
  position: relative;
}
body main .separator::before, body main .separator::after {
  content: "";
  height: 1px;
  width: 11px;
  background: #5934f6;
  display: block;
  position: absolute;
  z-index: -1;
}
body main .separator::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body main .separator::after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}
body main .separator .dot {
  background: white;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
body main .separator .dot::before {
  content: "";
  height: 1px;
  width: 1px;
  background: #5934f6;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1300px) {
  body main .separator {
    margin-block: 6rem 3rem;
  }
}
body .section-title {
  display: none;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-family: "GT Pressura Mono", monospace;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
body .section-title .last-letter {
  letter-spacing: 0;
}
body .selected-work {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 80vw;
  flex-wrap: wrap;
}
body .selected-work::before {
  content: "SELECTED WORK";
  height: 30px;
  width: max-content;
  display: block;
  font-family: "GT Pressura Mono", monospace;
  position: absolute;
  left: -4vw;
  top: 50%;
  transform: translateX(-50%) rotate(-90deg);
  color: #ddd5fd;
}
body .selected-work::after {
  content: "SELECTED WORK";
  height: 30px;
  width: max-content;
  display: block;
  font-family: "GT Pressura Mono", monospace;
  position: absolute;
  left: calc(100% + 4vw);
  top: 50%;
  transform: translateX(-50%) rotate(90deg);
  color: #ddd5fd;
}
body .selected-work.bottom-row {
  justify-content: space-around;
}
body .selected-work .work-section {
  width: 30% !important;
  min-width: 370px !important;
  text-decoration: none;
  margin-right: 5px;
  min-height: 250px;
  border: 1px solid #ebebec;
  padding: 2.5rem;
  position: relative;
  margin-top: 3rem;
}
body .selected-work .work-section::before {
  content: "";
  inset: 0 0 0 0;
  background: linear-gradient(140deg, #f9f4ff 5%, rgba(255, 255, 255, 0) 65%);
  display: block;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
body .selected-work .work-section .project-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #1a2fa9;
}
body .selected-work .work-section .project-description {
  font-family: "GT Pressura Mono", monospace;
  color: #5f5f5f;
  transition: 0.8s;
}
body .selected-work .work-section .project-footer {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 5rem);
  font-family: "GT Pressura Mono", monospace;
  color: #1a2fa9;
}
body .selected-work .work-section .project-footer .date {
  transition: 0.5s;
}
body .selected-work .work-section .project-footer .link {
  position: relative;
}
body .selected-work .work-section .project-footer .link::after {
  content: "";
  height: 50%;
  width: 105%;
  display: block;
  position: absolute;
  bottom: -10%;
  right: -2%;
  background: #e5d9ff;
  transition: 0.5s;
  z-index: -1;
}
body .selected-work .work-section:hover::before {
  opacity: 1;
}
body .selected-work .work-section:hover .link::after {
  height: 80%;
  width: 140%;
}
body .selected-work .work-section.not-released {
  background: #f8f8f8;
  border: none;
  cursor: not-allowed;
}
body .selected-work .work-section.not-released::before {
  display: none;
}
body .selected-work .work-section.not-released .project-description {
  color: gray;
}
body .selected-work .work-section.not-released .not-released-message {
  color: gray;
}
body .selected-work .work-section .corner {
  position: absolute;
  height: 5px;
  width: 5px;
  border: 1px solid #b8adff;
}
body .selected-work .work-section .corner::before, body .selected-work .work-section .corner::after {
  content: "";
  position: absolute;
  background: #b8adff;
}
body .selected-work .work-section .corner::before {
  height: 15px;
  width: 1px;
}
body .selected-work .work-section .corner::after {
  width: 15px;
  height: 1px;
}
body .selected-work .work-section .corner.topLeftCorner {
  top: -3px;
  left: -3px;
}
body .selected-work .work-section .corner.topLeftCorner::before {
  top: 4px;
  left: 1px;
}
body .selected-work .work-section .corner.topLeftCorner::after {
  top: 1px;
  left: 4px;
}
body .selected-work .work-section .corner.bottomRightCorner {
  bottom: -3px;
  right: -3px;
}
body .selected-work .work-section .corner.bottomRightCorner::before {
  top: -15px;
  left: 1px;
}
body .selected-work .work-section .corner.bottomRightCorner::after {
  top: 1px;
  left: -15px;
}
@media screen and (max-width: 1010px) {
  body .selected-work .work-section {
    width: 100% !important;
    max-width: 100%;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1300px) {
  body .selected-work {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  body .selected-work .work-section {
    min-width: 80vw !important;
  }
}
body .gap {
  width: 100%;
  height: 1rem;
}
@media screen and (max-width: 1300px) {
  body .gap {
    display: none;
  }
}
body .gap-top {
  margin-top: 3rem;
}
body .technologies-used {
  position: relative;
  width: 80vw;
  text-align: center;
}
body .technologies-used::before {
  content: "TECH USED";
  height: 30px;
  width: max-content;
  display: block;
  font-family: "GT Pressura Mono", monospace;
  position: absolute;
  left: -4vw;
  top: 50%;
  transform: translateX(-50%) rotate(-90deg);
  color: #ddd5fd;
}
body .technologies-used::after {
  content: "TECH USED";
  height: 30px;
  width: max-content;
  display: block;
  font-family: "GT Pressura Mono", monospace;
  position: absolute;
  left: calc(100% + 4vw);
  top: 50%;
  transform: translateX(-50%) rotate(90deg);
  color: #ddd5fd;
}
body .technologies-used .tech-group {
  width: 50vw;
  min-height: 60px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-inline: auto;
  margin-top: 20px;
}
body .technologies-used .tech-group svg {
  height: 50px;
  margin: 10px;
}
@media screen and (max-width: 1300px) {
  body .section-title {
    display: block;
  }
  body .featured-work::before, body .featured-work::after,
body .selected-work::before,
body .selected-work::after,
body .aboutMe::before,
body .aboutMe::after,
body .technologies-used::before,
body .technologies-used::after {
    display: none !important;
  }
}
body .non-disappearing {
  display: block !important;
}

footer {
  margin-top: 5rem;
  position: relative;
}
footer .logo {
  position: absolute;
  width: 17px;
  height: 17px;
  padding: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background: white;
}
footer .logo .bracket {
  position: absolute;
  height: 5px;
  width: 5px;
  border: 1px solid #b8adff;
}
footer .logo .bracket::before, footer .logo .bracket::after {
  content: "";
  position: absolute;
  background: #b8adff;
}
footer .logo .bracket::before {
  height: 20px;
  width: 1px;
}
footer .logo .bracket::after {
  width: 20px;
  height: 1px;
}
footer .logo .bracket.leftBracket {
  top: 22px;
  left: 22px;
}
footer .logo .bracket.leftBracket::before {
  top: 4px;
  left: 1px;
}
footer .logo .bracket.leftBracket::after {
  top: 1px;
  left: 4px;
}
footer .logo .bracket.rightBracket {
  bottom: 22px;
  right: 22px;
}
footer .logo .bracket.rightBracket::before {
  top: -20px;
  left: 1px;
}
footer .logo .bracket.rightBracket::after {
  top: 1px;
  left: -20px;
}
footer .contactInfo {
  position: absolute;
  top: 2rem;
  padding: 3rem;
  border-top: 1px solid #ebe9f4;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  font-family: "GT Pressura Mono";
  font-size: 18px;
}
footer .contactInfo .phoneNum {
  text-decoration: none;
  color: #000;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
footer .contactInfo .underlined-link {
  color: #5934f6;
  text-decoration: none;
  position: relative;
  width: max-content;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
footer .contactInfo .underlined-link::after {
  content: "";
  width: 105%;
  height: 50%;
  background: #e4fbf3;
  display: block;
  position: absolute;
  bottom: -10%;
  right: -2%;
  z-index: -1;
  transition: 0.5s;
}
footer .contactInfo .underlined-link:hover::after {
  height: 80%;
  width: 120%;
}

/*# sourceMappingURL=style.css.map */
