$primaryClr: #fdfdfd;
$secondaryClr: #f8c421;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primaryClr;
  padding: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;

  header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background: gray;
      display: block;
      position: absolute;
      top: calc(100% + 3rem);
    }

    .name {
      font-size: clamp(1rem, 8vw, 10rem);
      text-transform: uppercase;
      position: relative;

      &::before {
        content: "";
        width: 20%;
        height: 4px;
        background: $secondaryClr;
        display: block;
        position: absolute;
        top: 90%;
        z-index: 5;
      }

      &::after {
        content: "";
        width: 100%;
        height: 4px;
        background: gray;
        display: block;
        position: absolute;
        top: 90%;
        right: 0;
      }
    }

    .github-contact {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      .github-icon {
        height: 40px;
        margin-right: 10px;
      }

      .github-link {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    .contact-info {
      min-width: 230px;

      section {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .icon-container {
          height: 50px;
          width: 50px;
          background: $secondaryClr;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;

          .icon {
            width: 25px;
          }
        }

        .contact-info-section-title {
          font-weight: 800;
          text-transform: uppercase;
        }

        .contact-info-main {
          font-size: 0.8em;
          color: gray;
        }
      }
    }
  }
}
