@font-face {
  font-family: "MesloLGS NF";
  src: url("/assets/fonts/MesloLGS NF Regular.ttf");
}
@font-face {
  font-family: "GT Pressura Mono";
  src: url("/assets/fonts/GT-Pressura-Mono-Regular.woff") format("woff");
}
@font-face {
  font-family: circular;
  src: url("/assets/fonts/Circular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #e4fbf3;
}

body {
  background: #fff;
  font-family: circular, sans-serif;
  padding-bottom: 10rem;
  overflow-x: hidden;
}
body header {
  margin-bottom: 3rem;
  background: #5934f6;
  color: white;
  height: 500px;
  position: relative;
}
body header .navbar {
  text-align: right;
  padding: 2.5rem;
  padding-bottom: 0;
}
body header .navbar .nav-link {
  margin-right: 1.5rem;
  color: white;
  text-decoration: none;
  position: relative;
  width: min-content;
}
body header .navbar .nav-link::after {
  content: "";
  width: 120%;
  height: 70%;
  background: #e4fbf3;
  position: absolute;
  bottom: -30%;
  right: -10%;
  z-index: 5;
  display: block;
  opacity: 0;
  transition: 0.3s;
  border-radius: 2px;
}
body header .navbar .nav-link.active::after {
  opacity: 0.5;
}
body header .navbar .nav-link:hover::after {
  opacity: 0.7;
  width: 140%;
  height: 85%;
}
body header .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main {
  width: 55vw;
  margin: 100px auto auto 15vw;
}
body main section {
  margin-bottom: 100px;
}
body main section .sectionTitle {
  font-size: clamp(2rem, 2vw, 3rem);
  margin-bottom: 50px;
}
body main .content .workplace {
  font-size: 1.3em;
}
body main .content .dates {
  font-size: 0.9em;
  margin-bottom: 20px;
}
body main .content .tasks {
  margin-left: 30px;
}
body main .content .eduSource {
  margin-bottom: 10px;
}
body main .content .set {
  margin-bottom: 30px;
}
body main .content .set .skillSet {
  margin-left: 30px;
  width: 100%;
}
body main .content .set .skillSet li {
  position: relative;
}
body main .content .set .skillSet li div {
  margin: 5px 0 10px 0;
  display: flex;
}
body main .content .set .skillSet li div::before {
  content: "";
  height: 7px;
  width: 160px;
  display: block;
  background: #000;
  border-radius: 5px 0 0 5px;
}
body main .content .set .skillSet li div::after {
  content: "";
  height: 7px;
  width: 40px;
  display: block;
  background: #cccccc;
  border-radius: 0 5px 5px 0;
}
body main .content .set .skillSet li div.six::before {
  width: 120px;
}
body main .content .set .skillSet li div.six::after {
  width: 80px;
}
body main .content .set .skillSet li div.seven::before {
  width: 140px;
}
body main .content .set .skillSet li div.seven::after {
  width: 60px;
}
body main .content .set .skillSet li div.eight::before {
  width: 160px;
}
body main .content .set .skillSet li div.eight::after {
  width: 40px;
}
body main .content .set .skillSet li div.nine::before {
  width: 180px;
}
body main .content .set .skillSet li div.nine::after {
  width: 20px;
}
body main .content .set .skillSet li div.red::before {
  background: #ff6e6e;
}
body main .content .set .skillSet li div.blue::before {
  background: #6e6eff;
}
body main .content .set .skillSet li div.reactblue::before {
  background: #61dafb;
}
body main .content .set .skillSet li div.green::before {
  background: #6eff6e;
}
body main .content .set .skillSet li div.navy::before {
  background: #000080;
}
body main .content .set .skillSet li div.purple::before {
  background: #a020f0;
}
body main .contact-link {
  color: #515151;
  text-decoration: none;
}
body main .contact-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
